@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
    box-sizing: border-box;
}
audio,
canvas,
video {
    display: inline-block;
    display: inline;
    /*zoom: 1;*/
}

a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    outline: none;
    /*-- CSS3 Transition --*/
    
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
a:focus,
a:hover,
a:active {
    outline: none;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
object,
embed {
    max-width: 100%;
}
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-weight: 700;
    vertical-align: bottom;
}
td {
    font-weight: normal;
    vertical-align: top;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
small {
    font-size: 85%;
}
strong,
th {
    font-weight: bold;
}
td,
td img {
    vertical-align: top;
}
p {
    margin-bottom: 10px;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.2em;
    top: -0.3em;
    font-weight: normal;
}
sub {
    bottom: -0.25em;
}
.cmf_lan {
    position: relative;
}
.cmf_lan div {
    position: absolute;
    width: 1000px;
    z-index: 11;
    right: -33px;
    top: 0;
}
.cmf_lan ul li {
    float: left!important;
    padding: 0 10px;
    border: none !important;
}
.cmf_lan ul li ul li{
	float:none !important;
	background:none;
}
.cmf_lan ul li a {
    width: auto!important;
    padding: 0 10px;
}
/* standardize any monospaced elements */
/* Corrects overflow displayed oddly in IE 9. */
svg:not(:root){overflow: hidden; }
/* Form Elements */

input,
select {
    vertical-align: middle;
}
/* Placeholder configaration*/

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999999;
}
/* make buttons play nice in IE */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
}
/*Removes inner padding and border in Firefox 4+.*/

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* hand cursor on clickable elements */

.clickable,
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}
.ie6 input {
    vertical-align: text-bottom;
}
/*Re-set default cursor for disabled elements.*/

button[disabled],
input[disabled] {
    cursor: default;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
    margin: 0;
    vertical-align: top;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
input[type="radio"] {
    vertical-align: text-bottom;
    box-sizing: border-box;
    padding: 0;
}
input[type="checkbox"] {
    vertical-align: text-bottom;
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
/* Removes inner padding and search cancel button in Safari 5 and Chrome*/

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: normal;
    font-size: 100%;
}
::-selection {
    background: rgba(0, 0, 0, .2);
    /* Safari */
}
::-moz-selection {
    background: rgba(0, 0, 0, .2);
    /* Firefox */
}
/*===========Usefull CSS===========*/

.clear {
    clear: both;
    display: block;
}
.clearfix {
    /*zoom:1;*/
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.row:before,
.row:after {
    display: table;
    line-height: 0;
    content: "";
}
.row:after {
    clear: both;
}

.float-element:before,
.float-element:after {
    display: table;
    line-height: 0;
    content: "";
}
.float-element:after {
    clear: both;
}
/* Common Section
----------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 14px;
    background: #ffffff;
    overflow-x: hidden;
}

.wrapper:before,
.wrapper:after {
    display: table;
    line-height: 0;
    content: "";
}
.wrapper:after {
    clear: both;
}
.common-wrapper .container.common-container.four_content {
    max-width: 1224px;
	font-size:16px;
}
.container:before,
.container:after {
    display: table;
    line-height: 0;
    content: "";
}
.container:after {
    clear: both;
}
.container {
    position: relative;
    margin: 0 auto;
    display: block;
    max-width: 1020px;
}
.top-wrapper {
    background: #f7f7f7;
    padding: 8px 0px;
    border-bottom: 1px solid #eeeeee;
}
.top-left {
    float: left;
    height: 27px;
}
.top-left a {
    background: url(../images/flag.jpg) no-repeat 0px 0px;
    display: inline-block;
    line-height: 27px;
    padding: 0px 0px 0px 48px;
    font-size: 85%;
}
.top-left a span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../images/ico-link-dark.png) no-repeat;
    margin-left: 5px;
}


ul.font-controll {
    float: left;
    margin: 4px 0px 0px 15px;
}
ul.font-controll li {
    float: left;
    margin-left: 10px;
}
ul.font-controll li:first-child {
    margin-left: 0px;
}
/*.high-contrast{float:left; width:22px; height:22px; margin:2px 0px 0px 12px; line-height:22px; text-align:center; border-radius:1px; display:inline-block;}*/

.high-contrast.dark {
    background: #363636 !important;
    color: #ffff00 !important;
}
.high-contrast.light {
    background: #fff;
    color: #363636;
}

.header-wrapper {clear: both;
    border-bottom: 1px solid #e3e6ec;
    background: #fff;
    /* background: url(../images/logoheader.png); */
    background-repeat: no-repeat;
    background-position: center;padding: 10px 0;
}
.header-container {
    padding: 10px 0px 0px;
}
/*Logo*/


.logo a {
    color: #000;
}
.logo a strong {
    font-weight: 600;
    display: block;
    font-size: 80%;
}
.logo a span {
    display: block;
    font-weight: 900;
    font-size: 110%;
}
.logo a {
    display: block;
    text-align: left;
}
/*Logo*/

.header-right {
    float: right;
}
.float-element {
    float: left;
    margin-left: 12px;
}
.inp-search {
    border: 1px solid rgba(0, 0, 0, .2);
    height: 31px;
    width: 160px;
    padding: 0px 35px 0 10px;
    border-radius: 14px;
}

.nav-wrapper {
    height: 40px;
    background: #dddddd;
}
.body-container {
    padding: 30px 0px 0px 0px;
}
.body-container p {
    padding-bottom: 22px;
    line-height: 170%;
}
.body-container ul.list {
    padding-bottom: 22px;
    margin-left: 2px;
}
.body-container ul.list li {
    display: block;
    padding: 0px 0px 7px 15px;
    background: url(../images/blt.png) no-repeat 0px 6px;
}
.body-container ul.list li a {
    display: inline-block;
}
.body-container ul li a:hover {
    /* text-decoration: underline; */
}
h2.title {
    font-size: 205%;
    font-weight: 300;
    padding-bottom: 6px;
    line-height: 120%;
}
h3.sub-title {
    font-size: 180%;
    font-weight: 300;
    padding-bottom: 6px;
    line-height: 120%;
}
h2.title.bold,
h3.sub-title.bold {
    font-weight: 700;
}

/*.footer-wrapper{padding-top:50px;}*/




.copyright-content {
    padding: 40px 10px;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.copyright-content span {
    /*color: #888888;*/
    
    display: block;
}

.cmf-logo {
    text-align: left;
    padding-top: 5px;
}
.cqw-logo {
    border-right: 1px solid #333;
    margin-right: 13px;
    padding: 0px 13px 0px 0px;
    text-align: left;
}
.site-info {
    width: 290px;
    margin: 0 auto;
    text-align: center;
    font-size: 95%;
}

.bttn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background: #ebebeb;
}
.bttn:hover {
    background: #CCCCCC;
}
.right-content {
    padding-top: 30px;
}
.toggle-nav-bar {
    display: none;
}
.content-block {
    display: block;
}
/*----Dropdown Menu----*/


/*-----Responsive Table----*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 22px;
}
/* Zebra striping */

tr:nth-of-type(odd) {
    background: #f8f8f8;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}
td,
th {
    padding: 10px;
    border: 1px solid #e4e4e4;
    text-align: left;
    line-height: 145%;
}
.scroll-table1 {
    overflow-x: auto;
    padding-bottom: 0px;
    margin-bottom: 22px;
}
.guide-text {
    text-align: right;
    display: none;
}
@media screen and (max-width: 767px) {
    .guide-text {
        display: block;
        margin-bottom: 22px;
        color: #333333;
        font-weight: 600;
        font-size: 13px;
    }

}
    .guide-text i {
        font-size: 14px;
        vertical-align: text-bottom;
    }
    .scroll-table1 {
        margin-bottom: 5px;
    }
}
/*Common wrapper*/

.common-wrapper {
    border-bottom: 1px solid #eeeeee;
    background: #fff;
    z-index: 10;
}
.top-header {
    height: 36px;
}
.container.common-container {
    padding: 0 15px;
    width: 100%;
    position: relative;
}



.skip-main a {
    width: auto !important;
    line-height: normal;
    display: inline-block;
	padding-top:3px;
}


.sw-logo {
    display: inline-block;
}
a:focus {
    outline: .1em dotted #333;
}

.form-item .error {
    border: 1px solid #f6aeae !important;
}


.container.common-container {
   max-width: 1200px;
}
.logo{
	background:none;
	padding:0;
}
#search-form #edit-keys {
    border: 2px solid #aa2323;
    height: 36px;
    line-height: 34px;
    padding: 0 40px 0 8px;
    width: 270px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.container-inline {
    position: relative;
}
.container-inline #edit-actions {
    position: absolute;
    top: 1px;
    right: 0px;
}

a {
    color: #000;
}
.logo img {
    float: left;
    
    padding: 0 15px 0 5px;
}
.logo {
	font-size: 140%;
	display:inline-block;
}

#flexCarousel ul li a:focus {
    outline: dotted 1px #000;
}
.copyright-content a {
    text-decoration: underline;color: #0767f7;
}
.flex-pauseplay a {
    bottom: 12px !important;
}
.nolink:after {
    content: "+";
    padding-left: 5px;
}



section.wrapper.header-wrapper {
    z-index: 0;
}




.important-links-list {
	  width: 100%;
	  margin:0 auto;
}

.left-block{
	margin-bottom:40px;
}
..wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.data-table-1 caption{
  color:#FFFFFF;
  background-color:#72a8b3;
  font-size:1.3em;
}
.bgwhite{
	background-color: #EEEEEE;
	padding: 10px;
}

.gallery {
    width: 100%;
    
  }
  .gallery>h3{color: #000;
    padding: 10px 0px;
  
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid #302f2f;
}


  .gallery > ul {
    display: flex;
   justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .gallery > ul>li {
   
    width: 18.5%;box-shadow: 5px 5px 5px rgb(132 131 131 / 60%);
}
    
  .gallery > ul>li >img{
   
    width: 100%;
    height: 100%;
    
  }