@charset "utf-8";
@media (max-width: 768px) {
  .logo a strong {
    padding-top: 10px;
  }

  #flexCarouse2 .flex-pauseplay {
    top: 55px;
  }

  .wrapper.related-whatsnew-link .whats-new-wrapper {
    width: 100%;
    padding: 30px 30px;
  }
  .wrapper.related-whatsnew-link .related-link-wrapper {
    width: 100%;
    padding: 30px;
  }
  .wrapper.related-whatsnew-link {
    background: none;
  }

  .Related-links-text .view-all {
    padding-bottom: 50px;
  }
  .resp-tabs-list li a {
    font-size: 90%;
    padding: 0px 0px;
  }
  .page-tab ul.resp-tabs-list li {
    padding: 15px 10px;
  }
  .body-container {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .bg-wrapper.top-bg-wrapper.gray-bg.padding-top-bott {
    background: #fff;
  }
}
@media all and (max-width: 1200px) {
  .logo a strong {
    padding-top: 22px;
    font-size: 94%;
  }

  #flexCarouse2 .flex-direction-nav {
    position: absolute;
    right: 0;
    width: 90px;
    height: 42px;
    top: -4px;
    background: #333;
    margin: 4px 0px;
  }

  .view-footer-tab a {
    margin-top: 10px;
  }

  .whats-new-maincontainer {
    width: 60%;
    float: left;
    margin: 0 0px;
  }
  .common-wrapper .container.common-container.four_content {
    max-width: 100%;
    width: 100% !important;
    padding: 0;
    height: auto;
  }

  .resp-tab-content {
    min-height: 305px;
  }
  .om-orders a {
    font-size: 100%;
  }
  .om-orders a {
    padding-left: 59px;
    background-size: 30% !important;
  }

  .related-links ul.list li {
    font-size: 94%;
  }

  .quick-link-text {
    font-size: 106%;
    padding-top: 21px;
  }

  .logo {
    font-size: 88%;
  }
}
@media all and (max-width: 1100px) {
  .common-right ul li.ico-skip a {
    display: none;
  }

  .whats-new-maincontainer {
    width: 57%;
    float: left;
    margin: 0 15px;
  }

  .region-footer-secondcolumn .block-menu ul li {
    font-size: 88%;
  }
  .resp-tab-content {
    font-size: 96%;
  }

  .side-link .yellow {
    font-size: 143%;
  }

  .side-link2 .yellow {
    font-size: 153%;
  }

  .quick-link-text {
    font-size: 93%;
    padding-top: 21px;
  }

  .related-links {
    padding-top: 27px;
  }

  .quick-links-section {
    margin-top: 37px;
  }

  .related-links h3 {
    margin-bottom: 8px;
  }
  .related-links ul.list li {
    margin-bottom: 2px;
  }
  .view {
    margin-top: 13px;
  }
  .om-orders {
    padding: 13px;
    margin-top: 22px;
  }

  .poorpatient-content {
    margin-bottom: 46px;
  }

  .social-feeds .panel-social {
    padding-right: 2%;
    width: 45%;
  }
  .panel-feed {
    padding-left: 2%;
    width: 55%;
  }
}

@media all and (max-width: 1023px) {
  .common-right ul li.ico-skip a {
    display: none;
  }

  #flexCarouse2 .flex-direction-nav {
    margin-top: 4px;
  }

  .logo {
    font-size: 89%;
  }
}
@media all and (max-width: 960px) {
  .resp-tab-content {
    min-height: 379px;
  }

  .float-element {
    display: none;
  }
  .welcome-text {
    float: left;
    width: 60%;
  }

  .gallery-container {
    padding: 30px 0px;
  }

  .common-wrapper .container.common-container.four_content {
    max-width: 100%;
    width: 100% !important;
    padding: 0;
    height: auto;
  }

  /*===========responsive nav ===========*/
  /*responsive nav theme*/

  #nav li {
    background: #cbc9c9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #nav li a {
    color: #000;
  }

  #nav {
    max-height: none;
    overflow: visible;
  }
  .mid-bg-wrapper .body-container {
    padding: 50px 0 5px;
  }

  ul.ul-v > li {
    display: inline-block;
    padding: 0.55em 1em;
  }
  .imp-link {
    width: 100%;
    margin-top: 0.5em;
    margin-right: 0px;
  }
  .imp-img-cir ul.ul-v > li {
    width: 33%;
    vertical-align: top;
  }

  .ebook-maincontainer {
    float: right;
    width: 30%;
  }

  .white-container .visitor {
    float: none;
    padding: 30px 20px;
    width: 100%;
  }
  .white-container .imp-link {
    float: none;
    padding: 30px 0;
    width: 100%;
  }
  .poorpatient-content {
    margin-bottom: 28px;
  }
  .body-container ul.list li a {
    display: inline;
  }

  .sub-nav li {
    background: none;
  }

  .social-feeds .panel-social {
    float: none;
    padding-right: 0;
    width: 100%;
  }
  .panel-feed {
    padding-left: 0px;
    width: 100%;
    float: none;
    padding-top: 40px;
  }
  .socialTab_1 iframe {
    width: 100% !important;
  }

  .imp-link .quicklink {
    min-height: 275px;
    width: 50%;
  }
  .otonomus-content .flex-pauseplay {
    display: block !important;
  }
}
@media (min-width: 961px) and (max-width: 1150px) {
  .resp-tabs-list li {
    padding: 13px 0.7em;
  }
  .new-letter {
    font-size: 1.1em;
  }
  .resp-tabs-list li:nth-child(2) {
    margin-right: 5px;
  }

  .slide-caption {
    bottom: 82px;
  }
  .resp-tab-content ul.list li {
    padding: 8px 10px;
    background: url(../images/icons/blackarrow.png) left 12px no-repeat;
    margin-bottom: 0;
  }
  .icon,
  .text-cont {
    font-size: 0.85em;
  }

  .text-heading {
    text-align: center;
    font-size: 1.2em;
  }

  .padding-top-bott {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .whats-new-maincontainer {
    width: 59%;
    float: left;
    margin: 0 0px;
  }

  .side-link2 .yellow {
    font-size: 143%;
  }

  .side-link .yellow {
    font-size: 143%;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .new-letter {
    font-size: 1em;
  }
  .slide-caption {
    line-height: 1.6em;
    font-size: 1.2em;
  }
  .complaint {
    width: 100%;
    margin-right: 0px;
  }
  .left-block {
    width: 100%;
  }
  .item-list li {
    width: 49%;
    float: left;
    margin-right: 1%;
  }

  .resp-tabs-list li {
    padding: 13px 8px;
  }

  .resp-tab-content {
    font-size: 90%;
  }

  .resp-tab-content li span.ico-txt {
    padding: 6px;
    min-height: 165px;
  }

  .resp-tabs-container a {
    background-position: 13px 142px;
  }

  .side-links {
    width: 27%;
    padding: 22px 10px;
    font-size: 87%;
  }

  .view-footer-tab a {
    margin-top: 20px;
  }

  .side-link2 .yellow {
    font-size: 150%;
  }

  .side-link .yellow {
    font-size: 150%;
  }

  .block-menu ul {
    width: 100%;
  }

  .region-footer-secondcolumn .block-menu ul li {
    font-size: 88%;
  }
  .resp-tab-content {
    font-size: 96%;
  }
}
@media all and (max-width: 320px) {
  ul.important-links-list li {
    width: 45%;
  }
}
@media all and (max-width: 767px) {
  .imp-link ul.ul-v > li {
    width: 50%;
  }

  div#notice-slider .flex-viewport ul li a {
    padding: 0px;
  }
  div#notice-slider .flex-viewport ul li {
    padding: 0px;
  }
  div#parentHorizontalTab {
    top: 0px;
  }

  .drop-wrapper button {
    margin-top: 0px;
  }
  ul.important-links-list li {
    width: 46%;
    padding: 0px 0px;
    margin: 5px 5px;
  }
  ul.important-links-list li a {
    padding: 5px 3px;
  }
  ul.important-links-list li a .icon-text {
    height: 60px;
  }

  .four_content .common-left ul li span {
    font-size: 120%;
  }
  .four_content .common-left ul li {
    height: auto;
  }

  .common-left ul {
    display: block;
    max-height: 30px;
  }

  .four_content .responsive_go_hindi,
  .four_content .responsive_minis_hi {
    padding-right: 5px;
    border-right: 1px solid #eee;
    text-align: right;
  }
  .toggle-nav-bar {
    top: 30px;
  }

  .slide-caption {
    position: static;
    z-index: 1000;
    color: #fff;
    line-height: 1.6em;
    font-size: 1em;
    max-width: inherit;

    width: 100%;
    background: #000;
    font-family: "Open Sans", sans-serif;
    text-align: left;
  }
  .complaint {
    width: 100%;
    float: left;
    margin-right: 0px;
  }
  .left-block {
    float: left;
    width: 100%;
  }
  .whats-new-maincontainer {
    margin: 20px 0px 0;
  }

  .quick-link {
    width: 48%;
  }
  .quick-link-text {
    padding-top: 22px;
  }
  .quick-link:nth-child(even) {
    margin-right: 0px;
  }
  .quick-link:nth-child(odd) {
    margin-left: 0px;
  }
  .quick-links-section {
    padding: 30px 20px;
  }

  .panel-feed .resp-tabs-list li a {
    font-size: 74%;
    font-weight: 600;
  }

  .page-tab {
    width: 100%;
  }

  #flexCarouse2 .flex-pauseplay {
    height: 30px;
    width: 30px;
    top: 40px;
    right: 0;
  }

  #flexCarouse2 .flex-pauseplay a {
    padding: 3px;

    position: initial;

    margin: auto;

    border: 1px solid #fff;

    height: 30px;

    width: 30px;
  }

  .view-footer-tab a {
    margin: 28px 0px 0 0;
    color: #fff;
    font-weight: 600;
    border: 2px solid #886749;
    margin-top: 80px;
  }
  .view-footer-tab a:after {
    color: #fff;
  }
  #flexCarouse2 .flex-direction-nav {
    display: none;
  }

  nav {
    margin-top: 4px;
  }
}
@media (min-width: 961px) and (max-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 960px) {
  .side-links {
    font-size: 90%;
  }
  nav {
    margin-top: 4px;
  }

  #flexCarouse2 .flex-pauseplay a {
    bottom: 17px !important;
  }
}
@media (min-width: 961px) and (max-width: 1200px) {
  .side-links {
    font-size: 90%;
  }

  .common-left {
    padding-left: 35px;
  }
}
@media (max-width: 767px) and (min-width: 601px) {
  ul.important-links-list li:nth-child(9) {
    width: 46%;
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  .side-links {
    width: 100%;
    overflow: auto;
    min-height: auto;
  }
}
@media (max-width: 601px) and (min-width: 480px) {
  .side-links {
    width: 100%;
    overflow: auto;
    min-height: auto;
  }
}
@media all and (max-width: 640px) {
  .inner-wrapper .left-menu {
    width: 100%;
    float: none;
  }

  /*.resp-tab-content ul.list li {
		 font-size:0.95em;
	 }*/
  .text-sm {
    font-size: 0.9em;
  }
  ul.ul-v > li a {
    font-size: 1em;
  }
  .imp-img-cir ul.ul-v > li {
    width: 50%;
  }
  .left-menu ul {
    border: none;
    padding: 0px;
    margin-bottom: 40px;
  }
  .resp-tabs-list {
    white-space: nowrap;
    width: 100%;
    overflow: auto;
  }
  .resp-tabs-list li {
    float: none;
  }
  .imp-link ul.ul-v > li {
    width: 100%;
  }

  .welcome-text {
    float: none;
    width: 100%;
  }

  .toggle-nav-bar {
    top: 23px;
  }
  a.read-more {
    float: right;
  }

  .om-orders a {
    background-size: 61px auto !important;
    padding-left: 74px;
  }

  .slide-caption {
    width: 100%;
  }
  .panel-social .resp-tabs-list li {
    padding: 10px 17px;
  }

  .resp-tabs-container {
    min-height: 0;
  }

  .top-hanging-panel {
    border-left: 0;
    border-right: 0;
  }

  ul.resp-tabs-list {
    display: none;
  }

  h2.resp-accordion {
    display: block;
  }

  .resp-vtabs .resp-tab-content {
    border: 1px solid #c1c1c1;
  }

  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }

  .resp-accordion-closed {
    display: none !important;
  }

  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }

  .tab-section {
    margin-top: 0px;
  }
  .page-tab {
    width: 100%;
  }
}
@media (max-width: 929px) and (min-width: 640px) {
  .four_content .common-left ul li span {
    display: block;
    font-size: 120%;
  }
}

@media (min-width: 660px) and (max-width: 767px) {
  .logo a strong {
    padding-top: 6px;
  }

  .page-tab ul.resp-tabs-list li {
    font-size: 86%;
  }
  .side-links {
    width: 100%;
    min-height: 333px;
  }

  nav {
    margin-top: 4px;
  }

  #flexCarouse2 .flex-pauseplay a {
    bottom: 17px !important;
  }
}
@media (max-width: 639px) and (min-width: 341px) {
  .logo a strong {
    padding-top: 6px;
  }
}
@media (min-width: 640px) {
  .m-hide {
    display: none;
  }
  /*.four_content .responsive_go_hindi, .four_content .responsive_minis_hi {
    display: none;
}*/
  /*.four_content .common-left ul li {

    text-align: center;
}*/
}

@media all and (max-width: 500px) {
  .gallery-container {
    padding: 35px 0px;
  }

  .whats-new {
    width: 100%;
    float: none;
  }
  .otonomus-container {
    background: #77a6be;
    float: none;
    padding: 20px;
    width: 100%;
  }
  .ebook-maincontainer {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
  .imp-link .quicklink {
    float: none;
    padding-right: 0;
    width: 100%;
  }
  .imp-link .mediaunits {
    float: none;
    width: 100%;
    margin-top: 20px;
  }

  .slide-caption {
    position: static;
    width: 100%;
    padding: 10px;
    max-width: inherit;
  }

  .imp-link {
    width: 100%;
    margin-top: 25px;
    margin-right: 0px;
  }
  .imp-link .media-content {
    float: none;
    padding-bottom: 10px;
    padding-right: 0;
    width: 100%;
  }
  .quicklink .implink-content {
    float: none;
    padding-right: 0;
    width: 100%;
  }

  .panel-feed ul.resp-tabs-list li {
    display: block;
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  ..gallery-holder .flex-control-thumbs li {
    margin: 4px 10px 0 0;
    padding: 0;
    width: 31%;
  }

  .slide-caption {
    min-height: 0px;
    position: static;
    width: 100%;
    margin-top: 40px;
    padding: 1em;
  }

  .side-links {
    width: 100%;
    overflow: auto;
    min-height: auto;
  }
}
@media all and (max-width: 400px) {
  .logo a strong {
    padding-top: 4px;
    font-size: 92%;
  }

  .text-lg {
    font-size: 1.3em;
    font-weight: 300;
  }

  .imp-link .media-content {
    width: 100%;
    padding-right: 0;
    float: none;
  }

  .slide-caption {
    min-height: 0px;
    position: static;
    width: 100%;
    margin-top: 0px;
    padding: 1em;
  }

  .side-links {
    width: 100%;
    overflow: auto;
  }

  h2.resp-accordion:first-child {
    border-top: 1px solid #feb372;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .new-letter .new-icon {
    width: 80px;
  }

  .new-letter .new-text {
    padding: 0.3em 0 0;
  }
  .new-letter .new-text .subscibe-now {
    padding: 0.5em 1em;
    background-color: #4c4d52;
    color: #fff;
    margin-top: 0.5em;
  }
  .side-links {
    font-size: 100%;
  }
  .common-left {
    padding-left: 0px;
    font-size: 95%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #flexCarouse2 .flex-direction-nav {
    margin-top: 4px;
  }

  .new-letter .new-icon {
    width: 70px;
  }
  .ebook-maincontainer {
    float: right;
    width: 38%;
  }

  .new-letter .new-text .subscibe-now {
    padding: 0.5em 1em;
    background-color: #4c4d52;
    color: #fff;
    margin-top: 0.5em;
  }

  .side-links {
    font-size: 100%;
  }

  ul.resp-tabs-list,
  p {
    margin-top: -5px;
  }

  .side-links {
    margin: 46px 0px;
  }

  .side-link {
    display: inline-block;
    width: 47%;
    height: auto;
  }

  .side-links {
    width: 100%;
    min-height: auto;
  }

  .side-link2 {
    display: inline-block;
    padding-top: 30px;
    width: 47%;
    margin-left: 5%;
    height: auto;
  }

  .page-tab {
    width: 100%;
  }
  .left-col-2 {
    width: 100%;
    display: inline-block;
  }
  .tab-section {
    padding-bottom: 40px;
  }

  .logo {
    font-size: 150%;
    line-height: 130%;
  }
}

@media all and (max-width: 767px) and (min-width: 501px) {
  .ebook-maincontainer {
    float: right;
    width: 100%;
    margin-top: 20px;
  }
  .new-letter .new-icon {
    width: 200px;
  }
}
@media all and (max-width: 500px) {
  .new-letter .new-icon {
    width: 150px;
  }
}
@media all and (max-width: 400px) {
  .new-letter .new-icon {
    width: 100px;
  }
  .slide-caption {
    width: 100%;
  }
}

/*=======================forced fixing=======================*/
@media (min-width: 490px) and (max-width: 495px) {
}

@media all and (max-width: 767px) {
  .side-links {
    margin: 0px 0px 36px 0px;
  }
  .left-col-2 h2::after {
    top: 25px;
  }
  .news-section {
    height: 80px;
  }

  .announcements {
    float: none;
    padding: 40px 0;
    width: 100%;
  }

  .min-info {
    padding-left: 31px;
    padding-top: 0;
    text-align: left;
  }
  .vide-btm .ebook-txt {
    padding: 0;
  }

  .resp-tabs-container {
    min-height: 0;
  }

  .top-hanging-panel {
    border-left: 0;
    border-right: 0;
  }

  ul.resp-tabs-list {
    display: none;
  }

  h2.resp-accordion {
    display: block;
  }
  .resp-vtabs .resp-tab-content {
    border: 1px solid #c1c1c1;
  }

  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }

  .resp-accordion-closed {
    display: none !important;
  }

  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }

  .tab-section {
    margin-top: 0px;
    background: #555;
  }
  .page-tab {
    width: 100%;
  }
  .left-col-2 {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
  }

  .extra-link {
    width: 24.2%;
  }
  .left-box,
  .right-box {
    width: 100%;
    float: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    border: none;
  }

  .inner-content h2 {
    font-size: 170%;
  }

  .small_banner {
    display: block;
  }
  .large_banner {
    display: none;
  }

  .page-gallery-heading a {
    display: block;
    font-size: 100%;
    margin: 0;
    padding: 8px 10px;
    border-right: 1px solid #cac8c8;
  }
  .page-gallery-heading a.active {
    font-weight: 700;
  }

  .press-resele-box .news-info {
    min-height: 0px;
    padding: 20px 0 10px;
    overflow: visible;
    height: auto;
  }
  .press-resele-box {
    float: none;
    margin-bottom: 45px;
    margin-right: 0;
    width: 100%;
  }
  .press-resele-box:nth-child(2n) {
    margin-left: 0px;
    margin-right: 0;
  }

  .increadible-india {
    width: 170px;
  }
  .increadible-india .header-menu ul li {
    width: 25%;
  }
  .increadible-india .header-menu ul li span {
    width: 100%;
  }
  .increadible-india .header-menu {
    padding-left: 10px;
    padding-right: 10px;
  }

  .increadible-india {
    margin-top: -12px;
  }

  .resp-tabs-container li {
    width: 98%;
  }
  .common-left ul li span.li_eng {
    font-size: 106%;
    text-align: left;
  }

  .four_content .responsive_go_hindi,
  .four_content .responsive_minis_hi {
    padding-right: 5px;
    border-right: 1px solid #eee;
    text-align: right;
  }
}

@media all and (max-width: 767px) {
  #flexCarouse2 {
    padding: 0;
    width: 100%;
  }

  .logo {
    line-height: 130%;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
}

@media screen and (max-width: 1024px) {
  a.portgolio-button {
    padding: 5px 4px;
  }
  .footer-top-wrapper ul li a {
    padding: 0px 4px;
  }

  .gray-bg,
  .home-btm-slider {
    background-size: 100%;
  }
  .scroll-left,
  .scroll-text-1,
  .scroll-text {
    height: 315px;
  }
  .page-tab ul.resp-tabs-list li {
    padding: 15px 12px;
  }
}
@media screen and (max-width: 800px) {
  .four_content .common-left ul li {
    width: 50%;
  }

  #flexCarouse2 .flex-pauseplay a {
    bottom: 0px;
  }
  .four_content .common-left ul li {
    width: 50%;
    padding-bottom: 10px;
  }

  .banner-content-wrapper {
    width: 100%;
    float: none;
    padding-right: 0px;
  }
  .banner-right-wrapper {
    width: 100%;
    padding-top: 10px;
  }
  .banner-box {
    width: 48%;
    float: left;
  }
  .wrapper.home-banner {
    padding: 40px 0px;
  }
  p.banner-content {
    padding: 20px 0px 20px;
  }
  .scroll-left,
  .scroll-text-1,
  .scroll-text {
    height: 265px;
    padding-right: 10px;
  }
  a.portgolio-button {
    padding: 5px 10px;
  }
  .important-links > a > img {
    width: 100%;
    max-height: 150px;
    min-height: 150px;
  }
  li.important-links > h4 {
    font-size: 14px;
    padding-top: 10px;

    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .wrapper.home-btm-slider {
    padding: 0px;
  }
  .left-block .view-footer {
    padding-bottom: 0px;
    padding-top: 0px;
    top: 0px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .left-block .left-col-2 {
    width: 100%;
  }

  .left-block .left-col-2:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .banner-box {
    width: 100%;
    margin-left: 0px;
  }
  .banner-box-wrapper {
    padding: 10px 0px;
  }
  .banner-content-wrapper h2 span {
    display: block;
    margin-top: -5px;
    padding-bottom: 10px;
  }

  .four_content .common-left ul li {
    padding: 0px;
  }
  li.hindi.cmf_lan.m-hide {
    display: none;
  }
  .padding-top-bott {
    padding-top: 5px;
    background: #fff;
  }
  .wrapper.home-banner {
    background: url(../images/banner-bg.jpg) #000;
    background-repeat: no-repeat;
  }
  .footer-top-wrapper ul li a {
    padding: 0px;
  }
  .slide-caption {
    display: none;
  }
  .flex-pauseplay a:before {
    font-size: 18px;
  }
  .flex-pauseplay a {
    bottom: 6px !important;
  }
  .megamenu-wraper .showhide {
    right: -5px;
  }
  #scroll {
    right: 0px;
  }
}
@media screen and (max-width: 320px) {
  .scroll-left,
  .scroll-text-1,
  .scroll-text {
    height: 440px;
  }
  ul.important-links-list li a {
    padding: 15px;
  }
  ul.important-links-list li {
    width: 100%;
    padding: 10px;
  }
}
